:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 70px;
    --footer-height: 70px;
    --font-size-heading: 3rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.6rem;
    --font-size-h4: var(--font-size-h3);
    --font-size-h5: var(--font-size-h3);
    --font-size-h6: var(--font-size-h3);
    --font-size-base: 1.2rem;
    --font-size-small: 1.1rem;
    --radius: 4px;
    --theme: rgb(240, 239, 235);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 36, 46);
    --secondary: var(--primary);
    --tertiary: rgb(214, 214, 214);
    --content: var(--primary);
    --code-block-bg: rgb(46, 56, 98);
    --code-bg: rgb(255, 255, 255);
    --border: rgb(238, 238, 238);
    --background-color-light: #f0efeb;
    --background-color-dark: #1d1e20;
}

.dark {
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}


.dark.list {
    background: var(--theme);
}
