:root {
    --theme: rgb(255, 255, 255);
    --background-color-light: #ffffff;
    --background-color-dark: #000000;
    --color-light: #000000;
    --color-dark: #ffffff;
}

.dark {
    --theme: rgb(0, 0, 0);
    --entry: rgb(0, 0, 0);
    --primary: rgb(255, 255, 255);
    --secondary: rgb(255, 255, 255);
    --content: rgb(255, 255, 255);
}