body.home-profile {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo-image {
    height: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
}

.logo {
    display: flex;
    align-items: center;
}

h1 {
    /* font-family: 'CO Medium Italic', serif; */
    font-size: var(--font-size-heading);
    font-weight: 500;
    letter-spacing: -0.045em;
    text-wrap: balance;
}

.profile_inner span {
    width:80%;
    margin:0 auto;
    text-wrap: balance;
}h

figure.entry-cover {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure.entry-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    width: 100%;
    margin-bottom:2em;
    article {
        margin-bottom: 0;
        padding: 0;
        position: relative;
        .entry-cover {
            margin:0;
            height: 30vh;
            object-fit: cover;
            display: block;
        }
        p {
            margin:.5em 0;
        }
    }
}

.small, .small p, .main .small p {
    font-size: var(--font-size-small);
}

#vanta-bg {position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;}

body.preload * {
    transition: none !important;
}

const add = (a, b) => a + b; 