:root {
    /* Overrides for newth.ai light theme */
    --theme: rgb(240, 239, 235);
    --background-color-light: #f0efeb;
    --background-color-dark: #1d1e20;
    --color-light: #436391;
    --color-dark: #6EACDA;
}

.dark {
    /* Overrides for newth.ai dark theme */
    /* Add any specific dark theme overrides for newth.ai here if needed */
}