@charset "UTF-8";

@font-face {
    font-family: 'CO Medium';
    src: url('/fonts/co-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'CO Medium';
    src: url('/fonts/co-medium-italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* Tufte CSS styles */
html {
    font-size: 15px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100dvh;
    max-width: 1400px;
    counter-reset: sidenote-counter;
}


h1 {
    font-family: "CO Medium", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;    font-weight: 400;
    font-size: var(--font-size-heading);
}

h2 {
    /* font-style: italic; */
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
}

h3 {
    /* font-style: italic; */
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

article {
    padding: 5rem 0rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

/* Chapter Epigraphs */
/* end chapter epigraphs styles */
section {
 p,
ul,
 h2,h3,
footer,
 table {
    width: 55%;
}

}

/* 50 + 5 == 55, to be the same width as paragraph */

section > ul {
    -webkit-padding-start: 5%;
}


figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--font-size-small);
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
    color: inherit;
}

.main p a:link {
    text-decoration: underline;
}



/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%;
}


.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: var(--font-size-small);
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    z-index: 1;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

h1 > code,
h2 > code,
h3 > code {
    font-size: 0.80em;
}

.marginnote > code {
    font-size: 1rem;
}

pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

@media (max-width: 760px) {
    body {
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
    }

    article {
        padding: 2rem 0;
    }

    
    section > p,
    .main ul,
    h2,h3,
    section > footer,
    section > table {
        width: 100%;
    }

    section {

            
            section > p,
            .main ul,
            h2,h3,
            section > footer,
            section > table {
                width: 100%;
            }

    }

    pre > code {
        width: 97%;
    }

    
    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption {
        margin-right: 0%;
        max-width: none;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    
    .marginnote {
        display: none;
    }

    
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        position: relative;
    }

    label {
        cursor: pointer;
    }

    
    table {
        width: 85%;
    }

    img {
        width: 100%;
    }
}