body {
    background-color: var(--initial-background);
    color: var(--initial-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* max-width: calc(var(--nav-width) + var(--gap) * 2); */
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    /* margin: auto var(--gap); */
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
    position: relative; /* Ensure the menu is positioned relative for absolute positioning of the underline */
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu li {
    vertical-align: middle;
    margin: auto 0;
}

#menu a {
    font-size: var(--font-size-small);
    line-height: 26px;
    position: relative; /* Position relative for the pseudo-element */
    overflow: hidden; /* Hide overflow for the underline */
    transition: color 0.5s ease-in-out;
}

#menu a:hover {
    color: var(--primary); /* Change color on hover */
}


.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}

#menu a::after {
    content: ''; /* Create a pseudo-element for the underline */
    position: absolute;
    left: 0; /* Start from the left */
    bottom: 0; /* Position at the bottom of the text */
    width: 100%; /* Full width */
    height: 2px; /* Height of the underline */
    background: var(--primary); /* Color of the underline */
    transform: translateX(-100%); /* Start off-screen to the left */
    transition: transform 0.3s ease; /* Animation for the underline */
}

#menu a:hover::after {
    transform: translateX(0); /* Move the underline into view */
}

#menu .active a:hover::after {
    transform: none;
    /* Prevent the underline from moving on the active item */
}


#menu .active {
    font-weight: 500;
    /* border-bottom: 2px solid currentColor; */
    /* Remove background effect on active nav */
}

#menu .active a {
    color: var(--primary);
    /* Ensure active item has the same color as hover */
}
