.project-single {
    padding-bottom:0;
    h1 { 
        margin:0.5em 0;
    }
    .entry-cover {
        height: 70vh;
    }
    .post-content {
        p, ol, ul, table {
            margin-left: auto;
            margin-right: auto;            
        }
        img {
            margin-top:4em;
            margin-bottom: 2em;
        }
    }
    ul.project-tags {
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
    }

    ul.project-tags li {
        display: inline; /* Display list items inline */
        margin-right: 10px; /* Add some space between items */
}
}