.footer {
    font-size: var(--font-size-small);
    color: var(--secondary);
}

.footer {
    line-height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;

}

.footer span {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

.footer span:last-child {
    white-space: nowrap;
}

.footer a {
    color: inherit;
    border-bottom: 1px solid var(--secondary);
}

.footer a:hover {
    border-bottom: 1px solid var(--primary);
}

.footer ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    margin-left: 20px;
}

.footer a:hover {
    color: var(--primary);
}
