:root {
    --breakpoint-sm: 340px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 900px;
}

@media screen and (max-width: var(--breakpoint-md)) {
    :root {
        --gap: 14px;
    }

    .profile img {
        transform: scale(0.85);
    }

    .first-entry {
        min-height: 260px;
    }

    .archive-month {
        flex-direction: column;
    }

    .archive-year {
        margin-top: 20px;
    }

    .footer {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {

    .terms-tags a:active,
    .button:active,
    #searchResults li:active {
        transform: none;
    }
}